@import "compass";
@import "susy";
@import "breakpoint";
@import "tools/grids";

$column-width: 4em;
$gutter-width: 1em;
$grid-padding:$gutter-width;


// Variables
$rouge: #f15b5b;
$orange:#f7941d;
$vert: #9ccb3b;
$bleu: #00bfdf;
$rose: #d83d96;
$noir: #131414;
$blanc:#ffffff;

$couleur:#00bfdf;

// Tools
@import "tools/mixins";

// Base
@import "base/base";
@import "base/form";

// Layout
@import "layout/grid";

// Modules
@import "modules/home";
@import "modules/map";
@import "modules/header";
@import "modules/section";
@import "modules/footer";
@import "modules/about";
@import "modules/contact";
@import "modules/instruction";
@import "modules/404";
@import "modules/admin"