/*--------------------------------------------------*\
		Bases de l'html
\*--------------------------------------------------*/
html { box-sizing: border-box; height: 100%; }

*, *:before, *:after { box-sizing: inherit; }

body { height: 100%; margin: 0; padding: 0; font-family: Arial, sans-serif; color: #ffffff; overflow: hidden; cursor: url(../images/cursor/cursor_current.cur), auto; background-color: #131414; max-width: 100%; margin-left: auto; margin-right: auto; }
body:after { content: " "; display: block; clear: both; }

::selection { background: #00bfdf; }

::-moz-selection { background: #00bfdf; }

.active { color: #00bfdf !important; }

.display-off { display: none; }

.display-on { display: block; }

@media (min-width: 1024px) { .display-on { display: none; }
  .display-off { display: block; } }
/*--------------------------------------------------*\
		Formulaires
\*--------------------------------------------------*/
/*--------------------------------------------------*\
		Grille de mise en page
\*--------------------------------------------------*/
.l-container { width: 960px; margin: 0 auto; position: relative; }

/*--------------------------------------------------*\
		Home
\*--------------------------------------------------*/
.home-bg { background-image: url(../images/bg.jpg); background-size: cover; }

.logo-mons { margin: 0 auto; margin-top: 60px; display: block; background-color: #00bfdf; width: 150px; border-radius: 50%; margin-bottom: 50px; }

.home-title { width: 85%; margin: 50px auto; font-family: helvetica; font-weight: 100; font-size: 20px; }

.gras { font-weight: 800; }

.buttons { height: 50px; }
.buttons ul { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; list-style: none; }
.buttons li { height: 50px; width: 100%; }
.buttons li:first-child { margin-left: 33.33333%; margin-right: 33.33333%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 33.33333%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 50px; }
.buttons li:last-child { height: 50px; display: none; }
.buttons a { display: block; line-height: 50px; height: 50px; text-align: center; text-decoration: none; border: 3px solid #ffffff; color: #ffffff; }
.buttons a:hover { color: #ffffff; background-color: #00bfdf; border: 3px solid #00bfdf; }

@media (min-width: 600px) { .logo-mons { margin-top: 130px; } }
@media (min-width: 1024px) { .home-title { margin: 50px 0 0 50px; }
  .logo-mons { margin-top: 200px; }
  .buttons li { padding: 0; }
  .buttons li:first-child { margin-left: 0%; margin-right: 0%; margin-left: 33.33333%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16.66667%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
  .buttons li:last-child { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16.66667%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; margin-right: 33.33333%; display: block; }
  .buttons li:last-child a { width: 100%; } }
/*--------------------------------------------------*\
		Map
\*--------------------------------------------------*/
#map-canvas { display: none; }

.section-map { margin: 0; padding: 0; }

.title-info-mark { font-family: Helvetica, sans-serif; font-size: 2em; font-weight: 700; color: #00bfdf; }

.sub-title-info-mark { margin-bottom: 1em; font-family: Helvetica, sans-serif; font-size: 1.3em; font-style: italic; font-weight: 500; color: #131414; }

.content-info-mark { position: relative; width: 500px; height: 300px; }

.text-info-mark { position: absolute; width: 275px; height: 100%; left: 0; }
.text-info-mark p { margin: 0; padding-bottom: 30px; font-family: Helvetica, sans-serif; font-size: 1em; color: #131414; text-align: right; }
.text-info-mark p:last-child { color: #00bfdf; font-size: 1em; text-align: right; }

.mini-bat { position: absolute; width: 200px; right: 0; margin: 0 1em 1em 0; }

.lienGalerie { color: #131414; }

.header-mobile-nav { display: block; }

@media (min-width: 1024px) { .display { display: none; }
  #map-canvas { display: block; height: 85%; top: 96px; } }
/*--------------------------------------------------*\
		Header
\*--------------------------------------------------*/
header { @with-layout (16); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin: 0 auto; height: 60px; background-color: #131414; position: fixed; top: 0; z-index: 100; }

.logo { margin-left: 6.25%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12.5%; float: left; padding-left: 0.625%; padding-right: 0.625%; margin-right: 6.25%; padding: 0; height: 60px; }

.header-logo { width: 40px; }

.header-logo img { width: 40px; padding-bottom: 10px; cursor: url(../images/cursor/pointer.cur), auto; z-index: 110; }

.rond { width: 40px; height: 40px; border-radius: 50%; padding-bottom: 10px; cursor: url(../images/cursor/pointer.cur), auto; background-color: #00bfdf; z-index: 105; margin-top: 10px; }

.header-nav { display: none; height: 96px; z-index: 120; }
.header-nav ul { width: 100%; padding: 0; height: 96px; margin: 0; }
.header-nav li { display: inline-block; list-style: none; padding-right: 15px; }
.header-nav a { text-decoration: none; line-height: 96px; color: #ffffff; cursor: url(../images/cursor/pointer.cur), auto; transition: all 0.3s ease; }
.header-nav a:hover { color: #00bfdf; }

.title-picture, .title-map { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 50%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 6.25%; height: 60px; z-index: 110; top: 0; text-align: center; }
.title-picture h1, .title-map h1 { color: #00bfdf; font-size: 16px; font-weight: 100; margin: 0; line-height: 60px; font-family: helvetica; z-index: 111; }

.instruction { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12.5%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 6.25%; position: relative; height: 60px; }
.instruction .menu-burger { position: absolute; top: 20px; height: 20px; right: 0; z-index: 90; }
.instruction .menu-burger:hover > div { background-color: #00bfdf; }
.instruction .menu-burger div { right: 0; background-color: #ffffff; width: 20px; height: 4px; margin-bottom: 4px; }

.icone-instruction { display: none; }

.title-picture { display: block; }

.title-map { display: block; }

.header-mobile-nav { display: none; margin: 0; padding: 0; position: fixed; top: 60px; background-color: #131414; width: 100%; height: 100%; overflow: auto; }
.header-mobile-nav ul { margin: 0; padding: 0; }
.header-mobile-nav li { list-style: none; }
.header-mobile-nav a { margin: 0; padding: 20px 10px; text-align: center; text-decoration: none; border-bottom: solid 1px #ffffff; color: #ffffff; font-family: helvetica; font-size: 1.2em; font-weight: 100; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
.header-mobile-nav div { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 83.33333%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; margin-left: 8.33333%; margin-right: 8.33333%; }

.header-mobile-nav-map { display: block; margin: 0; padding: 0; position: fixed; top: 60px; background-color: #131414; width: 100%; height: 100%; overflow: auto; }
.header-mobile-nav-map ul { margin: 0; padding: 0; }
.header-mobile-nav-map li { list-style: none; }
.header-mobile-nav-map a { margin: 0; padding: 20px 10px; text-align: center; text-decoration: none; border-bottom: solid 1px #ffffff; color: #ffffff; font-family: helvetica; font-size: 1.2em; font-weight: 100; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
.header-mobile-nav-map div { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 83.33333%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; margin-left: 8.33333%; margin-right: 8.33333%; }

.bg-color-blue { background-color: #00bfdf; height: 325px; }

.border-top { border-top: solid 1px #ffffff; }

.menu-burger-active { display: block; background-color: #131414; }

.icon-inline ul { width: 254px; margin: 0 auto; padding: 0; }
.icon-inline li { list-style: none; width: 60px; display: inline-block; text-align: center; border: none; }
.icon-inline a { width: 50px; border: none; }

@media (min-width: 600px) { .header-mobile-nav div { padding-top: 45px; } }
@media (min-width: 1024px) { .header-mobile-nav, .menu-burger { display: none; }
  .header-mobile-nav-map { display: none; }
  .header-nav { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12.5%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 6.25%; display: inline-block; }
  .title-picture { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 25%; display: block; }
  .title-picture h1 { line-height: 96px; }
  header { height: 96px; }
  .header-logo img { width: 70px; padding-bottom: 13px; }
  .logo { margin-left: 6.25%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 6.25%; float: left; padding-left: 0.625%; padding-right: 0.625%; margin-right: 6.25%; padding: 0; }
  .rond { width: 70px; height: 70px; padding-bottom: 13px; margin-top: 13px; }
  .title-map { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 25%; display: block; height: 96px; line-height: 96px; }
  .title-map h1 { height: 96px; line-height: 96px; }
  .instruction { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 6.25%; float: left; padding-left: 0.625%; padding-right: 0.625%; padding: 0; margin-right: 6.25%; }
  .icone-instruction { display: block; height: 45px; position: absolute; top: 23px; right: 0; }
  .icone-instruction a:hover > svg * { stroke: #00bfdf; } }
/*--------------------------------------------------*\
		Section
\*--------------------------------------------------*/
/*-----------------------------*\
		Partie gauche
\*-----------------------------*/
.left-panel { position: absolute; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 100%; left: -100%; z-index: 78; background-color: #131414; opacity: 0.9; }
.left-panel h2 { cursor: url(../images/cursor/cursor_text.cur), auto; }

.comments { margin: 0; padding: 30px 50px; font-family: helvetica, sans-serif; color: #ffffff; text-align: left; }
.comments p { margin-top: 150px; }
.comments a { position: absolute; width: 100%; top: 174px; right: 20px; text-decoration: none; font-size: 16px; color: #ffffff; text-align: right; cursor: url(../images/cursor/pointer.cur), auto; }

.btn-comments { right: -21px; background: #131414; cursor: url(../images/cursor/pointer.cur), auto; border-top: 1px solid #00bfdf; border-right: 1px solid #00bfdf; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/*-----------------------------*\
		Partie centrale
\*-----------------------------*/
section { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 100%; background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; }

.section-galerie { padding: 0; }

.btn-comments, .btn-timeline { position: absolute; width: 40px; height: 40px; top: 48%; z-index: 110; }

.overlay { display: none; }

.overlay-active-color { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #00bfdf; opacity: 0.5; z-index: 77; cursor: url(../images/cursor/cursor_-_black.cur), auto; }

.overlay-active-black { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(19, 20, 20, 0.9); z-index: 80; cursor: url(../images/cursor/cursor_-_white.cur), auto; }

.box-position { position: absolute; top: 0; left: 0; width: 100%; height: 1px; }

.box-arrow { position: absolute; left: 0; width: 100%; height: 100px; text-align: center; }

.box-arrow.up { top: 133px; }

.arrow-up { position: relative; z-index: 50; display: inline-block; vertical-align: top; width: 40px; height: 40px; line-height: 7px; border-top: 3px solid #00bfdf; border-right: 3px solid #00bfdf; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); cursor: url(../images/cursor/pointer.cur), auto; }

.arrow-down { position: relative; z-index: 50; display: inline-block; vertical-align: top; width: 40px; height: 40px; line-height: 7px; border-top: 3px solid #00bfdf; border-right: 3px solid #00bfdf; -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -webkit-transform: rotate(135deg); transform: rotate(135deg); cursor: url(../images/cursor/pointer.cur), auto; }

.arrow-up:hover, .arrow-down:hover { border-top: 3px solid #131414; border-right: 3px solid #131414; opacity: 0.7; }

.block-title { position: absolute; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 60px; top: 60px; left: 0; background-color: #00bfdf; z-index: 79; }
.block-title h2 { padding-left: 25px; color: #ffffff; font-size: 18px; font-weight: 600; line-height: 30px; }

.italic { font-size: 18px; font-style: italic; font-weight: 100; }

.italic_14 { font-size: 14px; font-style: italic; }

.footer-nav { top: 716px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 50px; padding: 0; background-color: #00bfdf; position: relative; text-align: center; line-height: 50px; font-family: helvetica; font-size: 14px; font-weight: 100; }
.footer-nav .footer-nav-year { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 50%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 50px; padding: 0; }
.footer-nav .footer-nav-year:hover { background-color: #131414; }
.footer-nav .footer-nav-day { border-right: 1px solid #131414; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 50%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 50px; padding: 0; }

/*-----------------------------*\
		Partie droite
\*-----------------------------*/
.right-panel { height: 100%; width: 17.5%; position: absolute; right: -30%; z-index: 90; transition: right 0.3s ease; background-color: #00bfdf; opacity: 0.85; }

.timeline { padding-top: 150px; padding-left: 10px; overflow-y: hidden; }
.timeline ul { list-style: none; padding: 0; position: absolute; width: 100%; margin: 0 auto; }
.timeline li { width: 100%; text-align: center; }
.timeline a { display: block; width: 92%; text-decoration: none; text-transform: uppercase; font-weight: 100; font-family: helvetica, sans-serif; color: white; letter-spacing: 10px; bottom: 30px; padding: 30px 0; z-index: 100; }
.timeline a:hover { background-color: #131414; padding: 30px 0; transition: all 0.3s ease; }

.btn-timeline { left: -20px; cursor: url(../images/cursor/pointer.cur), auto; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); border: 20px solid #00bfdf; z-index: -1; }

@media (min-width: 1024px) { .block-title, .left-panel { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 41.66667%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
  .block-title { top: 96px; }
  .block-title h2 { padding-left: 50px; }
  .left-panel { left: -40.66667%; transition: left 0.3s ease; }
  .right-panel { right: -16.5%; }
  .box-arrow.up { top: 110px; }
  .comments { padding: 200px 50px; }
  .footer-nav { display: none; } }
/*--------------------------------------------------*\
		Footer
\*--------------------------------------------------*/
@font-face { font-family: 'FontAwesome'; src: url("fonts/fontawesome-webfont.eot?v=4.2.0"); src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
footer { height: 50px; width: 100%; position: fixed; bottom: 0; background-color: #131414; z-index: 100; display: none; }
footer p { color: #ffffff; margin: 0 0 0 50px; font-size: 12px; margin-top: 20px; width: 300px; float: left; cursor: url(../images/cursor/cursor_text.cur), auto; }
footer ul { width: 320px; float: right; }
footer li { display: inline-block; float: left; padding: 0 15px; }
footer a { font-size: 16px; color: #ffffff; text-decoration: none; transition: all 0.3s ease; cursor: url(../images/cursor/pointer.cur), auto; }
footer a:hover { color: #00bfdf; }

@media (min-width: 1024px) { footer { display: block; } }
/*--------------------------------------------------*\
		Informations / About
\*--------------------------------------------------*/
.body-about { overflow-y: scroll; }

section { padding: 0; }

.left-content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; padding: 0; background-image: url(../images/img_about.jpg); height: 250px; margin-top: 60px; }
.left-content .greetings { padding-top: 50px; margin: 0; }
.left-content .greetings h1 { color: #00bfdf; font-size: 1.5em; font-weight: 100; position: relative; z-index: 1; margin: 0; padding-bottom: 56px; padding-left: 5%; }
.left-content .opacity-about { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; background-color: #131414; margin-top: -95px; height: 50px; padding: 0; opacity: 0.8; position: relative; z-index: 0; }

.content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
.content .text { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; padding: 10% 5% 0% 5%; height: 100%; }
.content .text h1 { color: #00bfdf; font-size: 2em; font-family: helvetica; font-weight: 200; margin: 0; }
.content .text h2 { color: #00bfdf; font-size: 1.2em; font-family: helvetica; font-weight: 100; }
.content .text p { color: #ffffff; font-family: helvetica; font-weight: 100; font-size: 1em; }

@media (min-width: 1024px) { .body-about { overflow: hidden; }
  .left-content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 50%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 100%; margin-top: 96px; padding: 0; }
  .left-content .greetings h1 { padding-left: 50px; }
  .content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 50%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; margin-top: 80px; overflow-y: auto; } }
/*--------------------------------------------------*\
		Contact
\*--------------------------------------------------*/
.banner { background-image: url(../images/banner.jpg); background-size: cover; height: 254px; margin-top: 96px; }
.banner div { width: 548px; height: 50px; position: absolute; z-index: 0; top: 106px; background-color: #00bfdf; opacity: 0.5; }
.banner .backgroundbanner { width: 365px; height: 50px; position: absolute; z-index: 0; top: 176px; background-color: #00bfdf; opacity: 0.5; }
.banner p { font-family: helvetica; font-size: 3em; font-weight: 100; font-variant: small-caps; color: #ffffff; display: inline-block; padding-left: 50px; padding-right: 50px; height: 50px; line-height: 45px; margin: 10px 0; position: relative; z-index: 2; }

.contact { margin-top: 50px; }
.contact form { width: 900px; margin: auto; }
.contact span { display: inline-block; margin: 0px 20px 40px 20px; }
.contact label { color: #00bfdf; font-family: helvetica; font-weight: 100; font-size: 1.2em; }
.contact input { border: solid #ffffff 2px; background-color: #131414; color: #ffffff; font-size: 0.8em; height: 30px; width: 250px; margin-top: 10px; }
.contact select { background-color: #131414; color: #ffffff; height: 30px; border: solid #ffffff 2px; font-family: helvetica; font-size: 0.8em; margin-top: 10px; width: 250px; }
.contact #commentaire { margin-top: 10px; width: 840px; max-width: 840px; max-height: 150px; color: #ffffff; font-family: helvetica; background-color: #131414; border: solid #ffffff 2px; font-size: 0.8em; }
.contact #valider { margin-left: 20px; }

/*--------------------------------------------------*\
		Instructions
\*--------------------------------------------------*/
rect:hover, rect:hover + g > * { stroke: #00bfdf; }

g:hover #roulette { stroke: #00bfdf; }

.howto { font-family: Helvetica; font-weight: 100; margin-top: 200px; text-align: center; }

.text1 { display: none; margin: 10px 0 0 10px; font-family: Helvetica; color: #00bfdf; font-size: 16px; font-weight: 300; }

.marge { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 210px; }

.margelast { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; float: right; padding-left: 0.83333%; padding-right: 0.83333%; height: 210px; padding-right: 0; }

.arrows { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16.66667%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
.arrows #Layer_1 { width: 100%; }

.separate { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 8.33333%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 150px; margin-top: 55px; border-right: 3px solid #ffffff; }

.space { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 8.33333%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; height: 150px; }

.mouse { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16.66667%; float: left; padding-left: 0.83333%; padding-right: 0.83333%; }
.mouse #Layer_2 { width: 100%; }
