/*--------------------------------------------------*\
		Informations / About
\*--------------------------------------------------*/
.leftcontent {
	width: 40%;
	height: 100%;
	float: left;
	img{
		max-height:100%;
	}
}

.content {
	max-width: 60%;
	height: 100%;
	float: right;
	margin-top: 96px;
	.text {
		height: 100%;
		margin: 0 20%;
		padding-top: 15%;
		h1 {
			color:$couleur;
			font-size: 2em;
			font-family: helvetica;
			font-weight: 200;
			margin:0;
		}
		h2 {
			color:$couleur;
			font-size: 1.2em;
			font-family: helvetica;
			font-weight: 100;
		}
		p {
			color: $blanc;
			font-family: helvetica;
			font-weight: 100;
			font-size: 1em;
		}
	}
}