/*--------------------------------------------------*\
		Admin
\*--------------------------------------------------*/
#body-admin{
	background-color: $blanc;
}
.titre-admin{
	@include span (2);
	@include squish (1,9);
	padding: 0;
	margin-top: 96px;
	color: $couleur;
}
.info-admin{
	@include span (10);
	@include squish (1,1);
	padding: 0;
	p{
		margin-top: 0;
	}
}
.info-label{
	@include span (5);
	padding: 0;
}
.info-edit{
	@include span (7);
	padding: 0;
}
.info-requise{
	color: $noir;
	height: 30px;
	padding: 0;
}
.info-recue{
	color: $couleur;
	height: 30px;
	text-align: right;
	padding: 0;
}
.info-commentaire {
	clear: both;
	padding: 0;
	color: $couleur;
}
.photo-admin{
	@include span (10);
	@include squish (1,1);
	padding: 0;
	img{
		max-width: 100%;
	}
}
.boutton-admin{
	@include span (10);
	@include squish (1,1);
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	button{
		@include span (4);
		@include squish (1,1);
		padding: 0;
		height: 35px;
		color: $couleur;
		background: transparent;
		border: solid 2px $couleur;
		&:hover {
			color: $blanc;
			background-color: $couleur;
		}
		a {
			width: 100%;
			padding: 0;
			height: 31px;
			display: block;
			line-height: 33px;
			color: $couleur;
			text-decoration: none;
			text-align: center;
			&:hover {
				color: $blanc;
				background-color: $couleur;
			}
		}
	}
}
@include breakpoint (1152px) {
	.info-admin{
		@include span (5);
		@include squish (1,0);
		padding: 0;
		p{
			margin-top: 0;
		}
	}
	.photo-admin{
		@include span (5);
		@include squish (0,1);
		padding: 0;
		padding-left:35px;
		img{
			max-width: 100%;
		}
	}
	.boutton-admin{
		@include span (2);
		@include squish (9,2);
		padding: 0;
		button{
			@include span (5);
			@include squish (1,0);
			padding: 0;
			height: 35px;
		}
	}
}