/*-----------------------------*\
		Partie centrale
\*-----------------------------*/
.section-gallery {
	position: absolute;
	top: 60px;right: 0;bottom: 50px;left: 0;
	padding: 0;
}
.gallery-photo {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.btn-comments, .btn-timeline {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 48%;
	z-index: 110;
}
.overlay {
	display: none;
}
.overlay-active-color {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $couleur;
	opacity: 0.5;
	z-index: 77;
	cursor: url(../images/cursor/cursor_-_black.cur),auto;
}
.overlay-active-black {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(19, 20, 20, 0.9);
	z-index: 80;
	cursor: url(../images/cursor/cursor_-_white.cur),auto;
}
.box-position {
	position: absolute;
	top: -60px;
	left: 0;
	width: 100%;
	height: 1px;
}
.box-arrow {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	text-align: center;
}
.box-arrow.up {
	top: 133px;
}
.arrow-up{
	position: relative;
	z-index: 50;
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	line-height: 7px;
	border-top: 3px solid $couleur;
	border-right: 3px solid $couleur;
	@include transform(rotate(-45deg));
	//transform:rotate(-45deg);
	cursor: url(../images/cursor/pointer.cur),auto;
}
.arrow-down{
  position: relative;
  z-index: 50;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 7px;
  border-top: 3px solid $couleur;
  border-right: 3px solid $couleur;
  @include transform(rotate(135deg));
  cursor: url(../images/cursor/pointer.cur),auto;
}
.arrow-up:hover, .arrow-down:hover{
	border-top: 3px solid $noir;
	border-right: 3px solid $noir;
	opacity: 0.7;
}
.block-title{
    position: absolute;
    @include span (12);
    top: 0;
    left: 0;
    height: 60px;
    background-color: $couleur;
    z-index: 79;
    h2 {
		padding-left: 25px;
		color: $blanc;
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
	}
}
.italic {
font-size: 18px;
font-style: italic;
font-weight: 100;
}
.italic_14 {
font-size: 14px;
font-style: italic;
}
.footer-nav {
	position: absolute;
	@include span (12);
	height: 50px;
	padding: 0;
	background-color: $couleur;
	text-align: center;
	line-height: 50px;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 100;
	.footer-nav-year {
		@include span (6);
		height: 50px;
		padding: 0;
		font-size: 18px;
		letter-spacing: 5px;
		&:hover {
			background-color: $noir;
		}
	}
	.footer-nav-day {
		border-right: 1px solid $noir;
		@include span (6);
		height: 50px;
		padding: 0;
	}
}
.timeline-mobile {
	@include pre (6);
	@include span (6);
	background-color: $couleur;
	top: 120px;
	position: fixed;
	bottom: 50px;
	padding: 0;
	ul {
		// height: 310px;
		list-style: none;
		padding: 0 15px 0 15px;
		position: absolute;
		width: 100%;
		font-size: 18px;
		margin: 0 auto;
		overflow-y:auto;
	}
	li {
		width: 100%;
		text-align: center;
	}
	p {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 100;
		font-family: $font;
		color: white;
		letter-spacing: 5px;
		bottom: 30px;
		padding: 20px 0;
		z-index: 100;
		transition: background-color 0.3s ease;
			&:hover {
				background-color: $noir;
			}
	}
}
.timeline-mobile-p-hover {
	background-color: $noir;
}

/*-----------------------------*/

@include breakpoint (1024px) {
	.section-gallery {
		top: 96px;
	}
	.block-title {
		@include span (5);
		padding: 0;
		h2 {
			padding-left: 50px;
		}
	}
	.box-position {
		top: -96px;
	}
	.box-arrow.up {
		top: 110px;
	}
	.footer-nav {
		display: none;
	}
	.timeline-mobile {
	display: none;
	}
}