/*--------------------------------------------------*\
		Contact
\*--------------------------------------------------*/
.border-top {
	border-top:solid 1px $blanc;
}
.bruce-banner {
		background-color: $couleur;
		height: 254px;
		position: absolute;
		top:60px;
		z-index: 1;
		width: 100%;
		opacity: 0.4;
	}
		.p-banner {
		display: block;
		@include span (6);
		@include squish (3,3);
		font-size: 2em;
		font-weight: 400;
		font-variant: small-caps;
		color: $blanc;
		height: 50px;
		text-align: center;
		position: absolute;
		z-index: 3;
		top: 125px;

	}
.banner {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	height: 254px;
	margin-top: 60px;
	div {
		width: 548px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 106px;
		background-color: $couleur;
		opacity:0.5;
	}
	.backgroundbanner {
		width: 365px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 176px;
		background-color: $couleur;
		opacity:0.5;
	}
}
.mentions-legales {
	@with-layout (16);
	@include span (14 of 16);
	@include squish (1 of 16, 1 of 16);
	padding:0;
	margin-top: 40px;
	margin-bottom: 0;
}

@include breakpoint (1024px) {
	.body-contact {
	overflow: auto;
	}
	.banner {
		margin: 0;
		margin-top: 96px;
		display: block;
	}
	.bruce-banner {
		top:96px;
	}
	.mentions-legales {
	@include span (6 of 16);
	@include squish (1 of 16, 1 of 16);
	padding: 0;
	margin-top: 80px;
	}

}
