/*--------------------------------------------------*\
		Contact
\*--------------------------------------------------*/
.body-contact {
	overflow: auto;
}

.banner {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	height: 254px;
	margin-top: 60px;
	div {
		width: 548px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 106px;
		background-color: $couleur;
		opacity:0.5;
	}
	.backgroundbanner {
		width: 365px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 176px;
		background-color: $couleur;
		opacity:0.5;
	}
	.p-banner {
		display: block;
		@include span (6);
		@include squish (3,3);
		font-family: helvetica;
		font-size: 2em;
		font-weight: 400;
		color: $blanc;
		height: 50px;
		text-align: center;
	}
}

.contact {
	padding-top:50px;
	@include span (12);

	form {
		@include span (10);
		@include squish (1,1);
		height: 100%;
	}
	span {
		display: block;
		margin-bottom: 40px;
		height: 40px;
	}
	label {
		width: 100%;
		color: $couleur;
		font-family: helvetica;
		font-weight: 100;
		font-size: 1em;
		display: block;
		margin-bottom: 5px;
		height: 10px;
	}
	input {
		width: 100%;
		border:solid $blanc 2px;
		background-color: $noir;
		color: $blanc;
		font-size: 0.8em;
		height: 30px;
	}
	.select select {

    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 0.8em;
    border: 2px solid $blanc;
    height: 34px;
    -webkit-appearance: none;
    border-radius: 0px;
    color: #ccc;
	}
	.select{
    width: 100%;
    height: 34px;
    overflow: hidden;
    color: $blanc;
	}

	#commentaire {
		@include span (12);
		margin-top: 10px;
		color: $blanc;
		font-family: helvetica;
		background-color: $noir;
		border:solid $blanc 2px;
		font-size: 0.8em;
		margin-bottom: 30px;
		.text {
			width: 100%;
			display: block;

		}
	}
	#valider{
		@include pre (8);
		@include span (4);

	}
	.submit {
		padding-bottom: 100px;
	}
}

@include breakpoint (1024px) {
	.body-contact {
	overflow: auto;
	}
	.banner {
		margin: 0;
		margin-top: 96px;
		display: block;
	}
	span {
		@include span (4);
	}
	.text {
		height: 160px;
	}
	.text-comment {
		@include span (12);
		display: block;
		margin-bottom: 100px;
		height: 60px;
	}
	.submit {
		@include pre (6);
		@include span (6);
		margin-top: 60px;
	}
	.p-banner {
		padding-top: 40px;
	}
}