/*--------------------------------------------------*\
		Contact
\*--------------------------------------------------*/
.body-contact {
	overflow: auto;
}

.banner {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	height: 254px;
	margin-top: 60px;
	div {
		width: 548px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 106px;
		background-color: $couleur;
		opacity:0.5;
	}
	.backgroundbanner {
		width: 365px;
		height: 50px;
		position: absolute;
		z-index: 0;
		top: 176px;
		background-color: $couleur;
		opacity:0.5;
	}
	p {
		font-family: helvetica;
		font-size: 2em;
		font-weight: 400;
		font-variant: small-caps; 
		color: $couleur;
		display: inline-block;
		padding-left: 50px;
		padding-right: 50px;
		height: 50px;
		line-height: 45px;
		margin: 10px 0;
		position: relative;
		z-index: 2;
	}
}

.contact {
	margin-top:50px;
	@include span (12);

	form{
		@include span (10);
		@include squish (1,1);
	}
	span {
		display: block;
		margin-bottom: 30px;
		height: 40px;
	}
	label{
		width: 100%;
		color: $couleur;
		font-family: helvetica;
		font-weight: 100;
		font-size: 1em;
	}
	input{
		width: 100%;
		border:solid $blanc 2px;
		background-color: $noir;
		color: $blanc;
		font-size: 0.8em;
		height: 30px;
	}
	select {
		background-color: $noir;
		color: $blanc;
		height: 30px;
		border:solid $blanc 2px;
		font-family: helvetica;
		font-size: 0.8em;
		margin-top: 10px;
		width: 250px;
	}
	#commentaire {
		@include span (12);
		margin-top: 10px;
		color: $blanc;
		font-family: helvetica;
		background-color: $noir;
		border:solid $blanc 2px;
		font-size: 0.8em;
		margin-bottom: 30px;
		.text {
			width: 100%;
			display: block;

		}
	}
	#valider{
		@include pre (8);
		@include span (4);

	}
}

@include breakpoint (1024px) {
	.banner {
		margin-top: 96px;
	}
	span {
		@include span (4);

	}
}