/*--------------------------------------------------*\
		Footer
\*--------------------------------------------------*/
footer {
	@with-layout(16);
	@include span(16 of 16);
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: $noir;
	z-index: 100;
	display: none;
	padding: 0;
	.footer {
		@include span (14 of 16);
		@include squish (1 of 16, 1 of 16);
		padding: 0;
	}
	p {
		color: $blanc;
		font-size: 12px;
		margin-top: 20px;
		width: 300px;
		float: left;
	}
	ul {
		float: right;
		padding: 0;
	}
	li {
		display: inline-block;
		float: left;
		padding: 0 15px;
		&:last-child {
			padding-right: 0;
		}
	}
	a {
		font-size: 16px;
		color: $blanc;
		text-decoration: none;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		cursor: url(../images/cursor/pointer.cur), auto;
		svg * {
				-webkit-transition: fill 0.3s ease;
				transition: fill 0.3s ease;
			}
		&:hover {
			color: $couleur;
		}
		g:hover>* {
			fill: $couleur;
		}
	}
}

@include breakpoint (1152px) {
	footer{
		display: block;
	}
}