/*--------------------------------------------------*\
		Footer
\*--------------------------------------------------*/

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

footer {
	@with-layout(16);
	@include span (14 of 16);
	@include squish (1 of 16, 1 of 16);
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: $noir;
	z-index: 100;
	display: none;
	padding: 0;
	p {
		color: $blanc;
		font-size: 12px;
		margin-top: 20px;
		width: 300px;
		float: left;
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
	ul {
		float: right;
		padding: 0;
	}
	li {
		display: inline-block;
		float: left;
		padding: 0 15px;
		&:last-child {
			padding-right: 0;
		}
	}
	a {
		font-size: 16px;
		color: $blanc;
		text-decoration: none;
		transition: all 0.3s ease;
		cursor: url(../images/cursor/pointer.cur), auto;
		&:hover {
			color: $couleur;
		}
	}
}



@include breakpoint (1024px) {
	footer{
		display: block;
	}
}