/*--------------------------------------------------*\
		Header
\*--------------------------------------------------*/
header {
  height: 60px;
  width: 100%;
  background-color: $noir;
  position: fixed;
  top: 0;
  z-index: 100;

}
.header-logo img {
	width: 40px;
	padding-bottom: 10px;
	cursor: url(../images/cursor/pointer.cur), auto;
	z-index: 103;
}

.rond {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-bottom: 10px;
	margin-left: 25px;
	cursor: url(../images/cursor/pointer.cur), auto;
	background-color: $couleur;
	z-index: 102;
	margin-top: 10px;
	float: left;
}

.header-nav {
	display: none;
	height: 96px;
	width: 211px;
	padding-top: 42px;
	z-index: 120;
	ul {
		margin: 0px;
	}
	li {
		float: left;
		padding: 0 20px;
		list-style: none;
	}
	a {
		text-decoration: none;
		color:$blanc;
		cursor: url(../images/cursor/pointer.cur), auto;
		transition: all 0.3s ease;
		&:hover {
			color: $couleur;
		}
	}
}

.title-picture {
	height: 60px;
	position: absolute;
	z-index: 110;
	top:0;
	text-align: center;
	width: calc(100% - 130px);
	left: 80px;
	h1 {
		color: $couleur;
		font-size: 16px;
		font-weight: 100;
		margin: 0;
		line-height: 60px;
		font-family: helvetica;
		z-index: 111;
	}
}

.menu-burger {
	position: absolute;
	width:30px;
	height: 30px;
	top:12px;
	right: 19px;
	&:hover>div {
		background-color: $bleu;
	}
	div {
		background-color: $blanc;
		width: 30px;
		height: 5px;
		margin: 5px 0px;
	}
}

.header-mobile-nav {
	display: none;
	background-color: $noir;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	width: 100%;
	height: 819px;
	overflow: scroll;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	a {
		margin: 0;
		padding: 20px 10px;
		text-align: center;
		text-decoration: none;
		border-bottom: solid 1px $blanc;
		color:$blanc;
		font-family: helvetica;
		font-size: 1.2em;
		font-weight: 100;
		@include span (12);
		&:hover{
		background-color: $bleu;
		}
	}
	li:first-child {
		border-top: solid 1px $blanc;
	}
}

.menu-burger-active {
	display: block;
}

.icon-inline a{
	display: inline-block;
}

@include breakpoint (1024px) {
	.header-mobile-nav,.menu-burger{
		display: none;
	}
	.header-nav {
		display: inline-block;
	}
	.title-picture {
		left: 331px;
		width: calc(100% - 662px);
	}
	.title-picture h1 {
		line-height: 96px;
	}
	header {
		height: 96px;
	}
	.header-logo img {
		width: 70px;
		padding-bottom: 13px;
	}
	.rond {
		width: 70px;
		height: 70px;
		padding-bottom: 13px;
		margin-left: 50px;
		margin-top: 13px;
	}
}