/*--------------------------------------------------*\
		Header
\*--------------------------------------------------*/
header {
	@with-layout(16);
	@include span (16 of 16);
	padding: 0;
	margin: 0 auto;
	height: 60px;
	background-color: $noir;
	position: fixed;
	top: 0;
	z-index: 100;
}
.logo {
	@include pre (1 of 16);
	@include span (2 of 16);
	@include post (1 of 16);
	padding: 0;
	height: 60px;
}
.header-logo {
	width: 40px;
}
.header-logo img {
	width: 40px;
	padding-bottom: 10px;
	cursor: url(../images/cursor/pointer.cur), auto;
	z-index: 110;
}

.rond {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-bottom: 10px;
	cursor: url(../images/cursor/pointer.cur), auto;
	background-color: $couleur;
	z-index: 105;
	margin-top: 10px;
}
.header-nav {
	display: none;
	height: 96px;
	z-index: 120;
	ul {
		width: 100%;
		padding: 0;
		height: 96px;
		margin: 0;
	}
	li {
		display: inline-block;
		list-style: none;
		padding-right: 15px;
	}
	a {
		text-decoration: none;
		line-height: 96px;
		color:$blanc;
		cursor: url(../images/cursor/pointer.cur), auto;
		transition: all 0.3s ease;
		&:hover {
			color: $couleur;
		}
	}
}
.title-picture, .title-map {
	@include span (8 of 16);
	padding: 0;
	@include post (1 of 16);
	height: 60px;
	z-index: 110;
	top:0;
	text-align: center;
	h1 {
		color: $couleur;
		font-size: 16px;
		font-weight: 100;
		margin: 0;
		line-height: 60px;
		font-family: helvetica;
		z-index: 111;
	}
}
.instruction {
	@include span (2 of 16);
	padding: 0;
	@include post (1 of 16);
	position: relative;
	height: 60px;
	.menu-burger {
		position: absolute;
		top: 20px;
		height: 20px;
		right: 0;
		z-index: 90;
		&:hover>div {
			background-color: $couleur;
		}
		div {
			right: 0;
			background-color: $blanc;
			width: 20px;
			height: 4px;
			margin-bottom: 4px
		}
	}
}
.icone-instruction {
	display: none;
}
.title-picture {
	display: block;
}
.title-map {
	display: block;
}
.header-mobile-nav {
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 60px;
	background-color: $noir;
	width: 100%;
	height: 100%;
	overflow: auto;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	a {
		margin: 0;
		padding: 20px 10px;
		text-align: center;
		text-decoration: none;
		border-bottom: solid 1px $blanc;
		color:$blanc;
		font-family: helvetica;
		font-size: 1.2em;
		font-weight: 100;
		@include span (12);
	}
	div {
		@include span (10);
		@include squish (1,1);	
	}
}
.header-mobile-nav-map {
	display: block;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 60px;
	background-color: $noir;
	width: 100%;
	height: 100%;
	overflow: auto;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	a {
		margin: 0;
		padding: 20px 10px;
		text-align: center;
		text-decoration: none;
		border-bottom: solid 1px $blanc;
		color:$blanc;
		font-family: helvetica;
		font-size: 1.2em;
		font-weight: 100;
		@include span (12);
	}
	div {
		@include span (10);
		@include squish (1,1);	
	}
}
.bg-color-blue {
	background-color: $couleur;
	height: 325px;
}
.border-top {
	border-top: solid 1px $blanc;
}

.menu-burger-active {
	display: block;
	background-color: $noir;
}

.icon-inline {
	ul {
		width: 254px;
		margin: 0 auto;
		padding: 0;
	}
	li {
		list-style: none;
		width: 60px;
		display: inline-block;
		text-align: center;
		border:none;

	}
	a {
		width: 50px;
		border:none;
	}
}

@include breakpoint (600px) {
	.header-mobile-nav {
		div {
			padding-top: 45px;
		}
	}

}

@include breakpoint (1024px) {
	.header-mobile-nav,.menu-burger{
		display: none;
	}
	.header-mobile-nav-map {
		display: none;
	}
	.header-nav {
		@include span (2 of 16);
		padding: 0;
		@include post (1 of 16);
		display: inline-block;
	}
	.title-picture {
		@include span (4 of 16);
		padding: 0;
		@include post (4 of 16);
		display: block;
	}
	.title-picture h1 {
		line-height: 96px;
	}
	header {
		height: 96px;
	}
	.header-map {

	}
	.header-logo img {
		width: 70px;
		padding-bottom: 13px;
	}
	.logo {
		@include pre (1 of 16);
		@include span (1 of 16);
		@include post (1 of 16);
		padding: 0;
	}
	.rond {
		width: 70px;
		height: 70px;
		padding-bottom: 13px;
		margin-top: 13px;
	}
	.title-map {
		@include span (4 of 16);
		padding: 0;
		@include post (4 of 16);
		display: block;
		height: 96px;
		line-height: 96px;
		h1 {
		height: 96px;
		line-height: 96px;
		}
	}
	.instruction {
		@include span (1 of 16);
		padding: 0;
		@include post (1 of 16);
	}

	.icone-instruction {
		display: block;
		height: 45px;
		position: absolute;
		top: 23px;
		right: 0;
		a {
			&:hover>svg * {
			stroke: $couleur;
		}
		}
	}
}