/*--------------------------------------------------*\
		Home
\*--------------------------------------------------*/

.home-bg {
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

.logo-mons {
	margin: 0 auto;
	margin-top: 60px;
	display: block;
	background-color: $bleu;
	width: 150px;
	border-radius: 50%;
	margin-bottom: 50px;
}

.home-title {
	width: 85%;
	margin: 50px auto;
	font-family: helvetica;
	font-weight: 100;
	font-size: 20px;
}

.gras{
	font-weight: 800;
}

.buttons{

	height: 50px;
	ul {
			@include span (12);
		list-style: none;

		& :first-child {
			@include span (4);
			height: 50px;
		}
		& :nth-child(2) {
			@include span (4);

			a {
				width: 100%;
			}
		}
		& :nth-child(3) {
			display: none;
		}
		& :last-child {
			@include span (4);
			height: 50px;
		}
		
	}
	li {
		height: 50px;
		width: 100%;
	}
	a {

	display: block;
	line-height: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border: 3px solid $blanc;
	color: $blanc;
		&:hover {
			color: $blanc;
			background-color: $bleu;
			border:3px solid $bleu;
		}
	}
}

@include breakpoint (600px) {
	.logo-mons {
		margin-top: 130px;
	}
}

@include breakpoint (1024px) {
	.home-title {
		margin: 50px 0 0 50px;
	}
	.logo-mons {
		margin-top: 200px;
	}
	.buttons ul {
		& :first-child {
			@include span (4);
			height: 50px;
		}
		& :nth-child(2) {
			@include span (2);
		}
		& :nth-child(3) {
			@include span (2);
			display: block;
			a {
			width: 100%;
			}
		}
		& :last-child {
			@include span (4);
			height: 50px;
		}
	}
}