/*--------------------------------------------------*\
		Home
\*--------------------------------------------------*/
.box-index {
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.home-title {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 15px 25px 0 25px;
	font-family: $font;
	font-weight: 100;
	font-size: 20px;
	text-shadow: 1px 1px grey;
}
.box-bg {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
}
.box-logo {
	position: absolute;
	height: 150px;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.logo-mons {
	position: absolute;
	width: 150px;
	height: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: $couleur;
	border-radius: 50%;
}
.box-btn {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 75%;
	ul {
		@include span (12);
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		height: 50px;
		width: 100%;
		&:first-child {
			@include squish (4,4);
			@include span (4);
			padding: 0;
			height: 50px;
		}
		&:last-child {
			height: 50px;
			display: none;
		}
	}
	a {
	display: block;
	line-height: 44px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border: 3px solid $blanc;
	color: $blanc;
	cursor: url(../images/cursor/pointer.cur),auto;
		&:hover {
			color: $blanc;
			background-color: $couleur;
			border:3px solid $couleur;
		}
	}
}
.link-admin {
	position: absolute;
	bottom: 0;right: 0;
	z-index: 100;
	text-decoration: none;
	opacity: 0;
}
@include breakpoint (768px) {
	.home-title {
		padding: 50px 25px 0 25px;
		font-family: $font;
		font-weight: 100;
		font-size: 30px;
		text-shadow: 1px 1px grey;
	}
}
@include breakpoint (1152px) {
	.home-title {
		font-family: $fontlight;
	}
	.box-btn li {
		&:first-child {
			@include pre (8 of 24);
			@include span (3 of 24);
			@include post (1 of 24);
			padding: 0;
		}
		&:last-child {
			display: block;
			@include pre (1 of 24);
			@include span (3 of 24);
			@include post (8 of 24);
			padding: 0;
		}
	}
}