/*--------------------------------------------------*\
		Home
\*--------------------------------------------------*/
.home-bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: url(../images/mons_3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;
}
.logo-mons {
	position: relative;
	margin: 0 auto;
	margin-top: 60px;
	display: block;
	background-color: $couleur;
	width: 150px;
	border-radius: 50%;
	margin-bottom: 50px;
	z-index: 2;
}
.home-title {
	width: 85%;
	margin: 50px auto;
	font-family: $fontlight;
	font-weight: 100;
	font-size: 20px;
	z-index: 2;
	position: relative;
}
.gras{
	font-family: $fontbold;
}
.buttons{
	position: relative;
	height: 50px;
	z-index: 2;
	ul {
		@include span (12);
		list-style: none;
	}
	li {
		height: 50px;
		width: 100%;
		&:first-child {
			@include squish (4,4);
			@include span (4);
			height: 50px;
		}
		&:last-child {
			height: 50px;
			display: none;
		}
	}
	a {
	display: block;
	line-height: 44px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border: 3px solid $blanc;
	color: $blanc;
		&:hover {
			color: $blanc;
			background-color: $couleur;
			border:3px solid $couleur;
		}
	}
}
.link-admin {
	position: absolute;
	bottom: 0;right: 0;
	z-index: 100;
	text-decoration: none;
	opacity: 0;
}
@include breakpoint (600px) {
	.logo-mons {
		margin-top: 130px;
	}
}
@include breakpoint (1024px) {
	.home-title {
		margin: 50px 0 0 50px;
	}
	.logo-mons {
		margin-top: 200px;
	}
	.buttons li {
		padding: 0;
		&:first-child {
			@include pre (4);
			@include span (2);
			margin-right: 0;
		}
		&:last-child {
			@include span (2);
			@include post (4);
			display: block;
			a {
			width: 100%;
			}
		}
	}
}