/*--------------------------------------------------*\
		Instructions
\*--------------------------------------------------*/

rect:hover, rect:hover+g>* {
	stroke:#00bfdf;	
}

.text1{
	display: none;
	margin: 10px 0 0 10px;
	font-family: Helvetica;
	color:#00bfdf;
	font-size: 16px;
	font-weight: 300;
}
