/*--------------------------------------------------*\
		Instructions
\*--------------------------------------------------*/
//	g:hover *{
//	stroke: #00bfdf;
//	}
rect:hover, rect:hover+g>* {
	stroke:$couleur;
}
g:hover #roulette{
	stroke:$couleur;
}
.pop-in {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
}
.overlay-popin {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}
.content-popin {
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
}
.cross-popin {
	position: absolute;
	top: 50px;
	right: 50px;
	svg:hover>* {
		stroke:$couleur;
	}
}
.howto {
	font-family: $font;
	font-weight: 100;
	text-align: center;
}
.text1{
	@include pre(3);
	@include span(6);
	@include post(3);
	padding: 0;
	color:#00bfdf;
	font-size: 24px;
	font-weight: 300;
}
.arrows{
	@include pre (3);
	@include span (2);
	padding: 0;
	#Layer_1 {
		width: 100%;
	}
}
.separate{
	@include span (1);
	height: 150px;
	margin-top: 55px;
	border-right: 3px solid $blanc;
	padding: 0;
}
.mouse {
	@include pre (1);
	@include span (2);
	@include post (3);
	padding: 0;
	#Layer_2 {
		width: 100%;
	}
}