/*-----------------------------*\
		Partie gauche
\*-----------------------------*/
.left-panel {
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	@include span(12);
	padding: 0;
	z-index: 78;
	background-color: $noir;
	opacity: 0.9;
	h2 {
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
}
.cross-left-panel {
	position: absolute;
	top: 20px;
	height: 50px;
	@include pre(1 of 16);
	@include span(14 of 16);
	@include post(1 of 16);
	padding: 0;
	z-index: 150;
	svg {
		position: absolute;
		right: 0;
	}
}
.comments {
	height: 100%;
	@include pre(2 of 16);
	@include span(12 of 16);
	@include post(2 of 16);
	padding: 70px 0 10px 0;
	color: $blanc;
	overflow-y: auto;
}
.btn-comments {
	right: -21px;
	background: $noir;
	cursor: url(../images/cursor/pointer.cur),auto;
	border-top: 1px solid $couleur;
	border-right: 1px solid $couleur;
	@include transform(rotate(45deg));
}

/*-----------------------------*/

@include breakpoint (1024px) {
	.left-panel {
		@include span (5);
		padding: 0;
		left: -40.66667%;
		transition: left 0.3s ease;
	}
	.comments {
		padding:180px 50px 0 50px;
		p {
			margin-top: 140px;
		}
	}
}