/*-----------------------------*\
		Partie gauche
\*-----------------------------*/
.left-panel {
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	@include span(12);
	padding: 0;
	z-index: 78;
	background-color: $noir;
	opacity: 0.9;
	h2 {
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
}
.comments {
	height: 100%;
	@include pre(2 of 16);
	@include span(12 of 16);
	@include post(2 of 16);
	padding: 70px 0 10px 0;
	color: $blanc;
	overflow-y: auto;
	p {
		font-size: 16px;
		line-height: 20px;
	}
}
.btn-comments {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 48%;
	right: -21px;
	background: $noir;
	z-index: 110;
	cursor: url(../images/cursor/pointer.cur),auto;
	border-top: 1px solid $couleur;
	border-right: 1px solid $couleur;
	@include transform(rotate(45deg));
}

/*-----------------------------*/

@include breakpoint (1152px) {
	.left-panel {
		@include span (5);
		padding: 0;
		left: -40.66667%;
		-webkit-transition: left 0.3s ease;
		transition: left 0.3s ease;
	}
	.comments {
		p {
			margin-top: 50px;
			font-size: 19px;
			line-height: 24px;
		}
	}
}