/*--------------------------------------------------*\
		Map
\*--------------------------------------------------*/
#map-canvas {
	height: 0;
	top: 0;
}
.section-map {
	display: none;
	margin: 0;
	padding: 0;
}
.title-info-mark {
	font-family: $font;
	font-size: 2em;
	font-weight: 700;
	color: $couleur;
}
.sub-title-info-mark {
	margin-bottom:1em;
	font-family: $font;
	font-size: 1.3em;
	font-style: italic;
	font-weight: 500;
	color: $noir;
}
.content-info-mark {
	position: relative;
	width: 500px;
	height: 300px;
}
.text-info-mark {
	position: absolute;
	width: 275px;
	height: 100%;
	left: 0;
	p {
		margin:0;
		padding-bottom: 30px;
		font-family: $font;
		font-size: 1em;
		color: $noir;
		text-align: right;
		&:last-child {
		color: $couleur;
		font-size: 1em;
		text-align: right;
		}
	}
}
.mini-bat {
	position: absolute;
	width: 200px;
	right: 0;
	margin: 0 1em 1em 0;
}
.lienGalerie {
	color: $noir;
}
@include breakpoint (1152px) {
	.display{
		display: none;
	}
	.section-map {
		display: block;
		position: absolute;
		top: 96px;right: 0;bottom: 50px;left: 0;
	}
	#map-canvas {
		height: 100%;
	}
}