/*-----------------------------*\
		Partie droite
\*-----------------------------*/
.right-panel {
	display: none;
	position: absolute;
	height: 100%;
	width: 17.5%;
	right: -30%;
	z-index: 90;
	-webkit-transition: right 0.3s ease;
	transition: right 0.3s ease;
	background-color: $couleur;
	opacity: 0.85;
}
.cross-right-panel {
	position: absolute;
	left: 25px;
	top: 20px;
}
.timeline {
	position: absolute;
	width: 138%;
	height: 100%;
	padding-top: 45px;
	overflow-x: hidden;
	overflow-y: auto;
	ul {
		list-style: none;
	}
	li {
		text-align: center;
		padding-bottom: 20px;
	}
	p {
		position: relative;
		width: 60%;
		font-size: 1.5em;
		bottom: 30px;
		padding: 10px 0;
		z-index: 100;
		-webkit-transition: background-color 0.3s ease;
		transition: background-color 0.3s ease;
		transition: all 0.3s ease;
			&:hover {
				color: $noir;
				letter-spacing: 10px;
			}
	}
}
.timeline-p-hover {
	color: $noir;
	letter-spacing: 10px;
}
.btn-timeline {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 48%;
	left: -20px;
	background-color: $couleur;
	border-left: 1px $noir solid;
	border-bottom: 1px $noir solid;
	z-index: 110;
	cursor: url(../images/cursor/pointer.cur),auto;
	@include transform(rotate(45deg));
}

/*-----------------------------*/

@include breakpoint (1152px) {
	.right-panel {
		display: block;
		right: -16.5%;
	}
}