/*--------------------------------------------------*\
		Section
\*--------------------------------------------------*/

/*-----------------------------*\
		Partie gauche
\*-----------------------------*/
.left-panel {
	position: absolute;
	@include span (12);
	height: 100%;
	left: -100%;
	z-index: 78;
	background-color: $noir;
	opacity: 0.9;
	h2 {
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
}

.comments {
	margin: 0;
	padding: 150px 50px;
	font-family: helvetica, sans-serif;
	color: $blanc;
	text-align: justify;
	p {
		margin-top: 150px;
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
}

.btn-comments {
	width: 8.87%;
	right: -8.87%;
	background-color: $noir;
	cursor: url(../images/cursor/pointer.cur),auto;
	img {
		margin-top: 12px;
		margin-left: 14px;
	}
}

/*-----------------------------*\
		Partie centrale
\*-----------------------------*/
section {
	@include span (12);
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.btn-comments, .btn-timeline {
	position: absolute;
	height: 50px;
	top: 48%;
	z-index: 110;
}

.overlay {
	display: none;
}

.overlay-active-color {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $couleur;
	opacity: 0.5;
	z-index: 77;
	cursor: url(../images/cursor/cursor_-_black.cur),auto;
}

.overlay-active-black {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(19, 20, 20, 0.9);
	z-index: 80;
	cursor: url(../images/cursor/cursor_-_white.cur),auto;
}

.box-position {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
}

.box-arrow {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	text-align: center;
}

.box-arrow.up {
	top: 133px;
}

.arrow-up{
	position: relative;
	z-index: 50;
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	line-height: 7px;
	border-top: 3px solid $couleur;
	border-right: 3px solid $couleur;
	transform:rotate(-45deg);
}

.arrow-down{
  position: relative;
  z-index: 50;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 7px;
  border-top: 3px solid $couleur;
  border-right: 3px solid $couleur;
  transform:rotate(135deg);
}

.arrow-up:hover, .arrow-down:hover{
	border-top: 3px solid $noir;
	border-right: 3px solid $noir;
	opacity: 0.7;
}

.block-title{
    position: absolute;
    @include span (12);
    height: 60px;
    top:60px;
    left: 0;
    background-color: $couleur;
    z-index: 79;
    h2 {
		padding-left: 25px;
		color: $blanc;
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
	}
}

.italic {
font-size: 18px;
font-style: italic;
font-weight: 100;
}

/*-----------------------------*\
		Partie droite
\*-----------------------------*/
.right-panel {
	height: 100%;
	width: 17.5%;
	position: absolute;
	right: -17%;
	z-index: 90;
	transition: right 0.3s ease;
	background-color: $couleur;
	opacity: 0.85;
}

.timeline {
	padding-top: 150px;
	padding-left: 10px;
	overflow-y: hidden;
	ul {
		list-style: none;
		padding: 0;
		position: absolute;
		width: 100%;
		margin: 0 auto;
	}
	li {
		width: 100%;
		text-align: center;
	}
	a {
		display: block;
		width: 92%;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 100;
		font-family: helvetica, sans-serif;
		color: white;
		letter-spacing: 10px;
		bottom: 30px;
		padding: 30px 0;
			&:hover {
				background-color: $noir;
				padding: 30px 0;
				transition: all 0.3s ease;
			}
	}
}

.btn-timeline {
	width: 18.78%;
	left: -18.78%;
	background-color: $couleur;
	cursor: url(../images/cursor/pointer.cur),auto;
	img {
	margin-top: 15px;
	margin-left: 14px;
	}
}

@include breakpoint (1024px) {
    .block-title, .left-panel {
		@include span (5);
    }
    .block-title {
		top: 96px;
		h2 {
			padding-left: 50px;
		}
    }
    .left-panel {
		left: -40.66667%;
		transition: left 0.3s ease;
    }
    .box-arrow.up {
		top: 110px;
	}
}
