/*--------------------------------------------------*\
		Section
\*--------------------------------------------------*/
/*-----------------------------*\
		Partie gauche
\*-----------------------------*/
.left-panel {
	position: absolute;
	@include span (12);
	height: 100%;
	left: -100%;
	z-index: 78;
	background-color: $noir;
	opacity: 0.9;
	// overflow: auto;
	h2 {
		cursor: url(../images/cursor/cursor_text.cur),auto;
	}
}
.comments {
	position: relative;
	height: 100%;
	z-index: 111;
	margin: 0;
	padding: 30px 50px;
	font-family: helvetica, sans-serif;
	color: $blanc;
	text-align: left;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	p {
		margin-top: 150px;
	}
}
.btn-comments {
	right: -21px;
	background: $noir;
	cursor: url(../images/cursor/pointer.cur),auto;
	border-top: 1px solid $couleur;
	border-right: 1px solid $couleur;
	@include transform(rotate(45deg));
}
.fa-left {
	position: absolute;
	top: 137px;
	right: 20px;
	z-index: 120;
}
/*-----------------------------*\
		Partie centrale
\*-----------------------------*/
section {
	@include span (12);
	padding: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.gallery-photo {
	position: absolute;
	top: 96px;
	left: 0;
	right: 0;
	bottom: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.section-galerie {
	padding: 0;
}
.btn-comments, .btn-timeline {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 48%;
	z-index: 110;
}
.overlay {
	display: none;
}
.overlay-active-color {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $couleur;
	opacity: 0.5;
	z-index: 77;
	cursor: url(../images/cursor/cursor_-_black.cur),auto;
}
.overlay-active-black {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(19, 20, 20, 0.9);
	z-index: 80;
	cursor: url(../images/cursor/cursor_-_white.cur),auto;
}
.box-position {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
}
.box-arrow {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	text-align: center;
}
.box-arrow.up {
	top: 133px;
}
.arrow-up{
	position: relative;
	z-index: 50;
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	line-height: 7px;
	border-top: 3px solid $couleur;
	border-right: 3px solid $couleur;
	@include transform(rotate(-45deg));
	//transform:rotate(-45deg);
	cursor: url(../images/cursor/pointer.cur),auto;
}
.arrow-down{
  position: relative;
  z-index: 50;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 7px;
  border-top: 3px solid $couleur;
  border-right: 3px solid $couleur;
  @include transform(rotate(135deg));
  cursor: url(../images/cursor/pointer.cur),auto;
}
.arrow-up:hover, .arrow-down:hover{
	border-top: 3px solid $noir;
	border-right: 3px solid $noir;
	opacity: 0.7;
}
.block-title{
    position: absolute;
    @include span (12);
    height: 60px;
    top:60px;
    left: 0;
    background-color: $couleur;
    z-index: 79;
    h2 {
		padding-left: 25px;
		color: $blanc;
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
	}
}
.italic {
font-size: 18px;
font-style: italic;
font-weight: 100;
}
.italic_14 {
font-size: 14px;
font-style: italic;
}
.footer-nav {
	position: relative;
	@include span (12);
	height: 50px;
	padding: 0;
	background-color: $couleur;
	text-align: center;
	line-height: 50px;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 100;
	.footer-nav-year {
		@include span (6);
		height: 50px;
		padding: 0;
		font-size: 18px;
		letter-spacing: 5px;
		&:hover {
			background-color: $noir;
		}
	}
	.footer-nav-day {
		border-right: 1px solid $noir;
		@include span (6);
		height: 50px;
		padding: 0;
	}
}
.timeline-mobile {
	@include pre (6);
	@include span (6);
	background-color: $couleur;
	top: 120px;
	position: fixed;
	bottom: 50px;
	padding: 0;
	ul {
		height: 310px;
		list-style: none;
		padding: 0 15px 0 15px;
		position: absolute;
		width: 100%;
		font-size: 18px;
		margin: 0 auto;
		overflow-y:auto;
	}
	li {
		width: 100%;
		text-align: center;
	}
	p {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 100;
		font-family: helvetica, sans-serif;
		color: white;
		letter-spacing: 5px;
		bottom: 30px;
		padding: 20px 0;
		z-index: 100;
		transition: background-color 0.3s ease;
			&:hover {
				background-color: $noir;
			}
	}
}
/*-----------------------------*\
		Partie droite
\*-----------------------------*/
.right-panel {
	display: none;
	height: 100%;
	width: 17.5%;
	position: absolute;
	right: -30%;
	z-index: 90;
	transition: right 0.3s ease;
	background-color: $couleur;
	opacity: 0.85;
}
.fa-right {
	position: absolute;
	top: 105px;
	left: 20px;
	z-index: 120;
}
.timeline {
	padding-top: 150px;
	padding-left: 20px;
	overflow-y: hidden;
	ul {
		list-style: none;
		padding: 0 0 0 15px;
		position: absolute;
		width: 90%;
		margin: 0 auto;
	}
	li {
		width: 100%;
		text-align: center;
	}
	p {
		display: block;
		width: 92%;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 100;
		font-family: helvetica, sans-serif;
		color: white;
		letter-spacing: 10px;
		bottom: 30px;
		padding: 30px 0;
		z-index: 100;
		transition: background-color 0.3s ease;
			&:hover {
				background-color: $noir;
			}
	}
}
.timeline-p-hover {
	background-color: $noir;
}
.btn-timeline {
	left: -20px;
	cursor: url(../images/cursor/pointer.cur),auto;
	@include transform(rotate(45deg));
	border: 20px solid $couleur;
	z-index: -1;
}

@include breakpoint (1024px) {
    .block-title, .left-panel {
		@include span (5);
    }
    .block-title {
		top: 96px;
		h2 {
			padding-left: 50px;
		}
    }
    .left-panel {
		left: -40.66667%;
		transition: left 0.3s ease;
    }
    .right-panel {
		display: block;
		right: -16.5%;
	}
    .box-arrow.up {
		top: 110px;
	}
	.comments {
		padding:180px 50px 0 50px;
	}
	.footer-nav {
		display: none;
	}
	.comments p {
		margin-top: 40px;
	}
	.fa-left {
		top: 173px;
	}
	.timeline-mobile {
	display: none;
	}
}