/*--------------------------------------------------*\
		Bases de l'html
\*--------------------------------------------------*/
html {
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	@include container (100%);
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $noir;
	font-family: Arial, sans-serif;
	color: $blanc;
	cursor: url(../images/cursor/cursor_current.cur),auto;
}
::selection {
  background: $couleur;
}
::-moz-selection {
  background: $couleur;
}
.overflow-on {
	overflow-y: scroll;
}
.overflow-off {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
.active {
	color:$couleur !important;
}
.display-off {
		display: none;
}

